[submodule "turísticos na Europa Html/turísticos na Europa Html/AtividadesProz"]
	path = turísticos na Europa Html/turísticos na Europa Html/AtividadesProz
	url = https://github.com/J41lson/AtividadesProz.git
